
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  /* #experience,
  .experience-details-container {
    margin-top: 2rem;
  } */

  /* #experience {
    margin-bottom: 20px;
  } */

  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }

  #about .section-container {
    display: flex;
    flex-direction: row;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 400px;
    height: 400px;
    /* margin: 0 auto 2rem; */
  }
  .about-containers {
    margin-top: 30px;
  }
  #projects {
    position: relative;

  }
  
}

@media screen and (max-width: 600px) {

  #profile {
    height: 50vh;

  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  #about .section-container {
    display: flex;
    flex-direction: column;
  }
  #about .section__pic-container {
    width: 100%; 
    justify-content: center;/* Make the container full width */
  }

  #about .about-pic {
    width: 80%; /* Make the image fill the container */
    max-width: none; /* Ensure the image doesn't exceed its original size */
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
}